#app {
    height: unset;
    margin: 0;
    min-height: auto;
}

.mobiles .navbar-light .navbar-brand {
    position: absolute;
    margin-left: 13%;
    top: 0;
}
.mobile li.nav-item.section-auth {
    display: block;
    position: fixed;
    right: 0;
    top: 2%;
}
.mobile li.nav-item.dropdown.profile-dropdown {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
}
.navbar-brand {
    margin-left: 10px;
}
.navbar-brand img {
    width: 130px;
}
/* .navbar-brand img {
    width: 52%;
} */
#navbarSupportedContent ul {
    padding-top: 0;
}
#navbarSupportedContent li.nav-item {
    padding: 0.2rem 0.15rem !important;
}
.navbar-light .navbar-toggler {
    position: fixed;
    top: 3%;
}

.navbar-expand-md .navbar-nav .nav-link {
    font-size: 12px;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}
.profile-dropdown {
    background: #21aa55;
    text-align: right;
    width: min-content;
    padding: 0.775rem 0rem !important;
}
.navbar-nav .profile-dropdown.open .dropdown-menu {
    position: static;
    float: none;
    background-color: unset;
    border: none;
    box-shadow: none;
}
.navbar-nav .profile-dropdown.open .dropdown-menu a {
    color: #ffffff;
}
.notification a .badge {
    top: 0;
    position: absolute;
    right: unset;
}
.dropdown-menu-arrow:after,
.dropdown-menu-arrow:before {
    content: none;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-width: 12px;
    border-style: solid;
    border-color: transparent;
    z-index: 1001;
}
.banner-section-text {
    margin-top: 30%;
}

.footer-navbar-brand {
    width: unset;
    display: inline-block;
}
.footer-navbar-brand img {
    width: 100%;
}

.footer-navbar-brand-v2 {
    width: 59%;
}

.footer-navbar-brand-v2 img {
    width: 57%;
}
.nav-brand-v2 {
    margin-left: 0;
}

.footer-span img {
    width: 20%;
}

.auth-login {
    background: url(/images/backgrounds/login_side_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 50px solid #fff;
    height: 34%;
}
.auth-login {
    border-left: none;
    padding: 40% 2%;
}

.auth-page .card.login {
    padding: 0 0;
    border: none;
    padding-top: 24%;
    padding-bottom: 13%;
}

.auth-page h1 {
    color: #404040;
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 0.1rem;
    font-weight: 600;
    text-align: center;
}

.auth-page h2 {
    color: #707070;
    font-size: 18px;
    margin-left: 0;
    text-align: center;
}

.remember-me {
    margin-left: 18%;
}
.reset-pass {
    float: right;
    margin-right: 0;
    margin-top: 0;
}
video#bghid {
    width: 100%;
    float: left;
    margin-top: 0;
    height: unset;
}

video#bgvid {
    width: 100%;
    float: left;
    margin-top: 0;
    height: unset;
}
.general-section .banner-section-text {
    margin-top: 2%;
}

.session-panel .nav-tabs li {
    width: 50%;
}

.nav-tabs a {
    font-size: 15px;
    color: #404040;
}
.tabs-spacing {
    padding-left: 1rem;
}
.session-card-calendar {
    display: block;
    padding-bottom: 12px;
}
.no-padding-right {
    padding-right: 15px !important;
}
.no-padding-left {
    padding-left: 15px !important;
}
.rating {
    margin-bottom: 2rem;
}

.previous_h2 {
    color: #404040;
    font-weight: 600;
    font-size: 23px;
}
.session_details-panel .nav-pills .nav-item a {
    font-size: 12px;
    color: #404040;
}
.session-tabs {
    box-shadow: 4px 4px 8px #0000004d;
    background: #fff;
    padding-left: 0;
}

.session_details-panel .session-tabs {
    min-width: 135%;
}

.session-tabs li.nav-item {
    padding: 1rem 0.2rem;
}
.session-tabs a {
    padding: 5px 2px;
    font-size: 12px;
    border: none;
}

.session_details-panel .session-tabs .nav-item.active a {
    background: #f87522;
    border: 2px solid #f87522;
    color: #fff;
    padding: 5px 2px !important;
    border-radius: 22px;
}
.submitbuttons {
    margin-top: 1rem;
    text-align: right;
    display: flex;
}
.btn.btn-outline-dark.btn-cancel {
    border-radius: 22px;
    background-color: none;
    border: none;
    color: #707070;
    font-size: 14px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.button.button-submit {
    background-color: #6fc6b8;
    border-radius: 22px;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 26px;
}

#file-upload-form {
    margin: auto;
    width: 100%;
    margin-top: 2rem;
}
.dropzone-wrapper {
    border: 2px dashed #c2cdda;
    color: #707070;
    position: relative;
    height: 300px;
}
.navbar-expand-md .navbar-nav .nav-link {
    font-size: 15px;
    padding: 0.45rem;
}
.navbar-expand-md .navbar-nav .nav-link.dropdown-item {
    font-size: 13px;
    padding: 0.45rem;
}
.top-general {
    margin: 10% 0;
    margin-bottom: 0;
}
section.top-general {
    margin: 5% 0;
    margin-bottom: 0;
}
.btn-overall.btn_login {
    background: #2d3047;
    border: 2px solid #2d3047;
    color: #ffffff;
    padding: 0.1rem 0.2rem !important;
    width: 80px;
    height: 30px;
    flex-grow: 0;
}

.btn-overall.btn_mobile_register {
    background: #2d3047;
    border: 2px solid #2d3047;
    color: #ffffff;
    padding: 0.1rem 0.2rem !important;
    flex-grow: 0;
    border-radius: 0 !important;
}
.alignment-class {
    margin: 0 2%;
}
.mobile-container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}
.home-banner .banner-section-text {
    margin-top: 2%;
    padding: 15px;
    padding-left: 15px;
    padding-bottom: 0;
}

.sessions-card article .thumbnail img {
    min-height: 145px;
    max-height: 200px;
}
.sessions-card article {
    min-height: 420px;
    max-height: 420px;
}
.footer-span {
    padding: 2% 0;
    margin-left: 0;
}
.footer-heading {
    padding-inline-start: 0;
    color: #fff;
    font-family: "Poppins";
    margin-top: 1rem;
    margin-bottom: 0;
}
.footer-description {
    padding-inline-start: 0;
    color: #fff;
    margin-bottom: 1rem;
    font-size: 12px;
    overflow-wrap: anywhere;
}
.replies {
    margin-left: 0;
    font-size: 12px;
}
.resource-span-icon img {
    width: 20px;
}
.like-mobile {
    margin-right: 10px;
}
.like-count .fa {
    font-size: 14px;
}
.share img {
    width: 16px !important;
}
.downloable-table {
    width: 100%;
    margin-top: 1rem;
}
.downloable-table tr td.downloable-table-first {
    width: 50%;
}
.downloable-table tr td.downloable-table-second a {
    font-size: 14px;
}
.download-span-icon img {
    width: 16px;
}
@media (max-width: 768px) {
    .footer-span {
        text-align: start;
    }
}
@media (max-width: 767px) {
    section.top-general {
        margin: 25% 0;
        margin-bottom: 0;
    }
}
@media (max-width: 320px) {
    .jarallax-img {
        height: 250px;
    }
    .top-general {
        margin: 20% 0;
        margin-bottom: 0;
    }
    section.top-general {
        margin: 33% 0;
        margin-bottom: 0;
    }
}

@media (max-width: 280px) {
    .jarallax-img {
        height: 250px;
    }
    .top-general {
        margin: 8% 0;
        margin-bottom: 0;
    }
    section.top-general {
        margin: 8% 0;
        margin-bottom: 0;
    }
}

.auth-page .card.login.register {
    padding: 12% 0;
    border: none;
}

.no-left {
    padding-left: 0 !important;
}

.no-right {
    padding-right: 0 !important;
}

.progress-filter .btn-overall.btn_black_bg {
    background: #2d3047;
    border: 2px solid #2d3047;
    color: #ffffff;
    padding: 0.5rem 1rem !important;
    border-radius: 0 !important;
}
.icon-notifications {
    background-image: url(/images/icons/notification-header.svg);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    width: 20px;
    height: 20px;
}

.btn-overall.btn_create_group {
    background: #eb1a8a;
    border: 2px solid #eb1a8a;
    color: #fff;
    margin: 0;
    margin-top: 1rem !important;
    padding: 6px !important;
    font-size: 14px;
    border-radius: 0;
    float: left;
}

.course-card.detail-card article {
    min-height: auto;
    max-height: 547px;
}

.scroll-tabs .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #21aa55;
    background: #fff;
    box-shadow: none;
    opacity: 1;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: none;
}
