<template>
<vueper-slides
  autoplay
    class="no-shadow"
    :visible-slides="3"
    slide-multiple
    :gap="3"
    :slide-ratio="1 / 4"
    :dragging-distance="200"
    :fixed-height="true"
    :duration="6000"
    :breakpoints="{ 800: { visibleSlides: 2, slideMultiple: 2 }, 480: { visibleSlides: 1, slideMultiple: 1 }  }">
        <template v-slot:arrow-left>
        <i class="fas fa-long-arrow-alt-left"></i>
      </template>

      <template v-slot:arrow-right>
        <i class="fas fa-long-arrow-alt-right"></i>
      </template>
      <vueper-slide
        class="justify-content-center"
        v-for="(slide, i) in slides"
        :key="i">  
        <template v-slot:content>
          <img  v-bind:src="'/images/profile/' + slide.image"/>
        </template>
      </vueper-slide>
</vueper-slides>
</template>

<style lang="scss" scoped>
.vueperslide, .vueperslide__image{
  background-color: #fff;
}
.vueperslides--fixed-height { height: 135px; }
.vueperslides__bullet .default {
  border: 1px solid #fff !important;
}
.vueperslides__bullet--active .default {background-color: #fff;}
.vueperslides__bullet .default span {
  display: block;
  color: #fff;
  font-size: 10px;
  opacity: 1;
}
.vueperslide img{
  width: auto;
  height: 90px;
  margin-top: 4%
}
.fas{
  color: #fff;
}
</style>
<script>
import { VueperSlides, VueperSlide } from 'vueperslides'
import 'vueperslides/dist/vueperslides.css'

export default {
data () {
   return {
     //data list [array]
     slides:[
       {
         image: 'kba.png'
       },
       {
         image: 'innovativkonzept_logo.png'
       },
       {
         image: 'SLBA.png'
       },
       {
         image: 'TBI-Logo.png'
       }
     ],
   }
 },
 components: { VueperSlides, VueperSlide },
}
</script>