<template>
  <div class="col-md-6 offset-md-2 comment">
    <form :action="commentaction" method="POST" class="search">
      <input type="hidden" name="_token" v-bind:value="csrf" />
      <input type="hidden" v-bind:value="follow" name="follow" />
      <input type="hidden" v-bind:value="courseid" name="course" />
      <input type="hidden" name="unique" />
      <div class="wrapper">
        <textarea
          class="regular-input"
          v-model="input"
          name="comment"
        ></textarea>

        <emoji-picker @emoji="append" :search="search">
          <div
            class="emoji-invoker"
            slot="emoji-invoker"
            slot-scope="{ events: { click: clickEvent } }"
            @click.stop="clickEvent"
          >
            <svg
              height="24"
              viewBox="0 0 24 24"
              width="24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h24v24H0z" fill="none" />
              <path
                d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"
              />
            </svg>
          </div>
          <div slot="emoji-picker" slot-scope="{ emojis, insert, display }">
            <div
              class="emoji-picker"
              :style="{ top: display.y + 'px', left: display.x + 'px' }"
            >
              <div class="emoji-picker__search">
                <input type="text" v-model="search" v-focus />
              </div>
              <div>
                <div v-for="(emojiGroup, category) in emojis" :key="category">
                  <h5>{{ category }}</h5>
                  <div class="emojis">
                    <span
                      v-for="(emoji, emojiName) in emojiGroup"
                      :key="emojiName"
                      @click="insert(emoji)"
                      :title="emojiName"
                      >{{ emoji }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </emoji-picker>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <button
              type="submit"
              class="btn btn-overall purple comment-save-btn"
            >
              Submit</button
            >&nbsp;
          </div>
          <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12"></div>
        </div>
      </div>
    </form>
  </div>
</template>

<style lang="scss" scoped>
.achievements {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  align-content: center;
  text-align: center;
  .achievement {
    text-align: center;
    img {
      cursor: pointer;
    }
  }
  img {
    margin-right: 5px;
  }
}

.my-course {
  padding: 1% 0;
  border-bottom: 1px solid #ccc;
  .preview-img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: contain;
    padding: 0;
  }
  .course-title {
    text-align: left;
    .title {
      padding: 5px 0;
      a {
        font-size: 16px;
        color: #21aa55;
        text-align: left;
        background: none;
        padding: 0;
      }
    }
    .sub-title {
      font-size: 14px;
      color: #707070;
      font-weight: bold;
    }
    .row {
      margin-bottom: 1%;
      margin-top: 1%;
    }
    .innerstats {
      border: 1px solid #cecece;
      text-align: center;
      h5 {
        color: #707070;
        font-size: 15px;
        padding-top: 5%;
      }
      p {
        font-size: medium;
        text-align: center;
        padding: 0;
        color: #707070;
        font-size: 13px;
      }

      .stats {
        margin-left: -15px;
      }
    }
  }
}
.detail-card .course-content {
  .action {
    display: grid;
    position: absolute;
    right: 0;
    bottom: 8%;
    width: 80%;
    a {
      padding: 0;
      margin-top: 5px;
      color: #f87522 !important;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      background: #d2eadb;
    }
    a:hover {
      text-decoration: none;
    }
    p {
      margin: 0;
      padding: 0;
      color: #404040 !important;
      text-align: unset;
      span.icons {
        float: left;
        background: #21aa55;
        width: 25%;
        height: auto;
        color: #fff;
        padding: 5px;
        text-align: center;
      }
      span {
        float: left;
        padding: 4% 5%;
      }
      span.numbers {
        float: right;
        border-left: 1px solid #fff;
        width: 20%;
      }
    }
  }
}

.comment {
  margin-top: 20px;
  a.canceled {
    display: initial !important;
    background: #fff !important;
    padding: 1% 4%;
    border: 2px solid #23245f;
    text-align: center;
    border-radius: 2rem;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin: 0;
    flex-grow: 1;
    cursor: pointer;
  }
}

.comment-section {
  .com {
    border-bottom: 1px solid #ccc;
  }
  .no-comment {
    display: none;
  }
  .view-comment {
    display: block;
    background: #fff;
    padding: 0 !important;
    color: #999999;
    cursor: pointer;
  }

  .comment-inner {
    background: #fcf7f7;
    padding: 1% 0;
    height: auto;
    overflow: auto;
    .course-title {
      text-align: left;
      padding: 20px;
      padding-top: 5px;
      .title {
        padding: 5px 0;
        font-size: 15px;
        color: #6bc7b8;
        text-align: left;
        background: none;
        padding: 0;
      }
      .sub-title {
        font-size: 12px;
        color: #707070;
        font-weight: bold;
        span {
          float: right;
          font-size: 12px;
          color: #707070;
        }
      }
      .row {
        margin-bottom: 1%;
        margin-top: 0;
        p {
          color: #666666;
          font-size: 15px;
          padding: 1% 0;
        }
      }
      a.continue {
        background: #23245f;
        padding: 0.75% 2.5%;
        color: #fff !important;
        font-size: 14px !important;
        border-radius: 28px;
      }
      a.purple-borderd {
        padding: 0.15% 0.5%;
        border: 2px solid #f87522;
        color: #fff;
        background: #f87522;
        font-size: 12px;
      }
      .comment-save-btn {
        background: #21aa55 !important;
        border: 2px solid #21aa55 !important;
        color: #fff;
        padding: 0.3rem 1rem !important;
        border-radius: 0 !important;
        font-size: 14px;
      }
      .comment-cancel-btn {
        font-size: 14px;
      }
      .comment-btn:hover {
        background: unset;
      }
      .lower-action {
        p {
          padding: 5px !important;
          color: #fff;
          font-size: 14px !important;
          float: right;
          text-align: center !important;
          span {
            padding-right: 5px;
            margin-right: 5px;
          }
          .numbers {
            float: right;
            border: left;
            border-left: 1px solid;
            padding-left: 5px;
          }
          .icons {
            float: left;
          }
        }
        a.canceled {
          display: initial !important;
          background: #fff !important;
          padding: 1%;
          border: 2px solid #49237e;
          text-align: center;
          border-radius: 2rem;
          position: relative;
          z-index: 0;
          overflow: hidden;
          margin: 0;
          flex-grow: 1;
          cursor: pointer;
          color: #49237e;
          float: right;
        }
      }
    }
    .replies {
      color: #313131;
      float: left;
    }
  }
}

@media (max-width: 1444px) {
  .action {
    top: 0px;
  }
}
.comment-save-btn {
  font-size: 14px;
}
.comment-cancel-btn {
  font-size: 14px;
}

.wrapper {
  position: relative;
  display: inline-block;
}

.regular-input {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 80rem;
  height: unset;
  outline: none;
  border-right: none;
  border-left: none;
  border-top: none;
  box-shadow: unset;
}

.regular-input:focus {
  box-shadow: none;
}

.emoji-invoker {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.emoji-invoker:hover {
  transform: scale(1.1);
}
.emoji-invoker > svg {
  fill: #b1c6d0;
}

.emoji-picker {
  position: absolute;
  z-index: 1;
  font-family: Montserrat;
  border: 1px solid #ccc;
  width: 20rem;
  height: 20rem;
  overflow: scroll;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 1px 1px 8px #c7dbe6;
  top: unset !important;
  left: unset !important;
  right: 0 !important;
}
.emoji-picker__search {
  display: flex;
}
.emoji-picker__search > input {
  flex: 1;
  border-radius: 10rem;
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  outline: none;
}
.emoji-picker h5 {
  margin-bottom: 0;
  color: #b1b1b1;
  text-transform: uppercase;
  font-size: 0.8rem;
  cursor: default;
}
.emoji-picker .emojis {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.emoji-picker .emojis:after {
  content: "";
  flex: auto;
}
.emoji-picker .emojis span {
  padding: 0.2rem;
  cursor: pointer;
  border-radius: 5px;
}
.emoji-picker .emojis span:hover {
  background: #ececec;
  cursor: pointer;
}
</style>

<script>
import EmojiPicker from "vue-emoji-picker";
import axios from "axios";

export default {
  components: {
    EmojiPicker,
  },
  props: ["courseid", "unique", "follow", "commentaction", "csrf"],
  data() {
    return {
      input: "",
      search: "",
    };
  },
  methods: {
    append(emoji) {
      this.input += emoji;
    },
  },
  directives: {
    focus: {
      inserted(el) {
        el.focus();
      },
    },
  },
};
</script>
