<template>
  <form :action="action" method="GET" id="courseFilterForm">
    <div class="row courses-filter">
      <div class="col-lg-2 col-md-2 col-sm-12 col-12 form-group d-sm-block d-md-none">
        <select v-model="form.year" class="form-control filter" v-on:change="submit">
          <option value>Year Published</option>
          <option v-for="year in years" v-bind:key="year" :value="year">{{ year }}</option>
        </select>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-12 col-12 form-group d-none d-md-block">
            <select v-model="form.year" class="form-control" v-on:change="submit">
              <option value>Filter</option>
              <option v-for="year in years" v-bind:key="year" :value="year">{{ year }}</option>
            </select>
          </div>
      <div class="col-lg-2 col-md-3 col-sm-12 col-12 form-group d-sm-block d-md-none">
        <select v-model="form.job_role" class="form-control" v-on:change="submit">
          <option value>Sort</option>
          <option
            v-for="role in job_roles"
            v-bind:key="role.id"
            :value="role.id"
          >{{ role.name.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); }) }}</option>
        </select>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 form-group">
        <input
          type="text"
          v-model="form.search"
          class="form-control"
          placeholder="Search Courses"
          value="search"
          v-on:keyup.enter="submit"
        />
        <button
          type="button"
          class="btn btn-submit"
          v-on:click="submit"
        >Go <i class="fas fa-long-arrow-alt-right" aria-hidden="true"></i>
        </button>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-12 col-12 form-group text-center d-none d-md-block">
        <button class="btn btn-rufous" v-on:click="reset">Reset</button>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: ["action", "filter_image", "job_groups"],
  data() {
    return {
      job_roles: [],
      form: {
        year: "",
        release: "",
        job_role: "",
        search: ""
      }
    };
  },
  created() {
    //Set query params
    const urlParams = new URLSearchParams(window.location.search);
    this.form.year = urlParams.get("year") ? urlParams.get("year") : "";
    this.form.release = urlParams.get("release")
      ? urlParams.get("release")
      : "";
    this.form.job_role = urlParams.get("job_role")
      ? urlParams.get("job_role")
      : "";
    this.form.search = urlParams.get("search") ? urlParams.get("search") : "";
    //Convert to json
    this.job_roles = JSON.parse(this.job_groups);
  },
  computed: {
    years: () => {
      const current = new Date().getFullYear();
      const years = [];
      for (let i = 1; i < 5; i++) {
        years.push(current - i);
      }
      return years;
    }
  },
  methods: {
    submit: function() {
    console.log(this.form);
      //Construct query
      let query =
        "?year=" +
        this.form.year +
        "&release=" +
        this.form.release +
        "&job_role=" +
        this.form.job_role +
        "&search=" +
        this.form.search;
      const url = encodeURI(
        location.protocol + "//" + location.host + location.pathname + query
      );
      window.location.href = url;
    },
    reset: function() {
      const url = encodeURI(
        location.protocol + "//" + location.host + location.pathname
      );
      window.location.href = url;
    }
  }
};
</script>
