<template>
  <div class="row courses-filter  column-reverse">
    <div class="col-12 form-group d-sm-block d-md-none">
      <button class="btn btn-rufous float-right" style="height:100%;" v-on:click="reset">Reset</button>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-12 form-group d-sm-block d-md-none">
      <select v-model="form.year" class="form-control" v-on:change="submit">
        <option value>Year</option>
        <option v-for="year in years" v-bind:key="year" :value="year">{{ year }}</option>
      </select>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-12 form-group d-sm-block d-md-none">
      <select v-model="form.month" class="form-control" v-on:change="submit">
        <option value>Month</option>
        <option v-for="month in months" v-bind:key="month" :value="month">{{ month }}</option>
      </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-12 form-group d-none d-md-block">
      <select v-model="form.year" class="form-control" v-on:change="submit">
        <option value>Year</option>
        <option v-for="year in years" v-bind:key="year" :value="year">{{ year }}</option>
      </select>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12 col-12 form-group d-none d-md-block">
      <select v-model="form.month" class="form-control" v-on:change="submit">
        <option value>Month</option>
        <option v-for="month in months" v-bind:key="month" :value="month">{{ month }}</option>
      </select>
    </div>
    <!-- <div class="col-lg-2 col-md-2 col-sm-12 col-12 form-group">
      <select name="category" class="form-control">
        <option value>Category</option>
      </select>
    </div>-->
    <div class="col-lg-2 col-md-2 col-sm-12 col-12 form-group">
      <select v-model="form.status" class="form-control" v-on:change="submit">
        <option value>Status</option>
        <option v-for="status in statuses" v-bind:key="status" :value="status">{{status}}</option>
      </select>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-12 col-12 form-group text-center d-none d-md-block">
      <button class="btn btn-rufous" style="height:100%;" v-on:click="reset">Reset</button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
</style>

<script>
export default {
  props: ["icon"],
  data: function() {
    return {
      months: [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December"
      ],
      statuses: ["Pending", "In progress", "Completed"],
      form: {
        year: "",
        month: "",
        status: ""
      }
    };
  },
  created() {
    //Set query params
    const urlParams = new URLSearchParams(window.location.search);
    this.form.year = urlParams.get("year") ? urlParams.get("year") : "";
    this.form.month = urlParams.get("month") ? urlParams.get("month") - 1 : "";
    this.form.status = urlParams.get("status") ? urlParams.get("status") : "";
  },
  computed: {
    years: () => {
      const current = new Date().getFullYear();
      const years = [];
      for (let i = 0; i < 1; i++) {
        years.push(current - i);
      }
      return years;
    }
  },
  methods: {
    submit: function() {
    const mm = this.form.month + 1;
      //Construct query
      let query =
        "?year=" +
        this.form.year +
        "&month=" +
        this.form.month +
        "&status=" +
        this.form.status;
      const url = encodeURI(
        location.protocol + "//" + location.host + location.pathname + query
      );
      window.location.href = url;
    },
    reset: function() {
      const url = encodeURI(
        location.protocol + "//" + location.host + location.pathname
      );
      window.location.href = url;
    }
  }
};
</script>
