<template>
    <div class="modal-backdrop">
        
      <div class="modal modal-dialog modal-dialog-centered">
        <header class="modal-header">
          <button type="button" class="btn-close" @click="close"> x </button>
        </header>
  
        <section class="modal-body">
          <slot name="body">
           <p> Phone Number: {{phonenumber}}</p>
          </slot>
         </section>
      </div>
      
    </div>
  </template>
  
  
  <style lang="scss" scoped>
    .modal-backdrop {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .modal {
      background: #FFFFFF;
      box-shadow: 2px 2px 20px 1px;
      overflow-x: auto;
      display: flex;
      flex-direction: column;
      width:40%;
      height: 10%;
    }
  
    .modal-dialog-centered {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: unset !important;
       align-items: unset !important; 
      min-height: calc(7% - 1rem);
  }
  
    .modal-header,
    .modal-footer {
      padding: 15px;
      display: flex;
    }
  
    .modal-header {
      position: relative;
      border-bottom: none;
      color: #CECECE;
      justify-content: space-between;
    }
  
    .modal-footer {
      border-top: 1px solid #eeeeee;
      flex-direction: column;
      justify-content: flex-end;
    }
  
    .modal-body {
      position: relative;
      padding: 20px 10px;
    }
  
    .btn-close {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      font-size: 20px;
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
      color: #CECECE;
      background: transparent;
    }
  
    .btn-green {
      color: white;
      background: #4AAE9B;
      border: 1px solid #4AAE9B;
      border-radius: 2px;
    }
  </style>
  
  <script>
  export default {
      name: 'Modal',
      props: ["phonenumber"],
      methods: {
        close() {
          this.$emit('closing');
        },
      },
    };
  </script>