<template>
  <div class="add icon">
    <p class="price"><span>Price</span> Ksh. {{ price }} </p>
    <a v-if="processing" class="processing" data-toggle="tooltip" title="Processing">
      <i class="fas fa-circle-notch fa-spin" v-if="processing"></i>
    </a>
    <a v-if="Upcoming == 'yes'" class="upcoming" target="_blank" :href="action">Course not available</a>
    <a v-else-if="Upcoming=='no'" data-toggle="tooltip" title="Select to purchase" 
    v-bind:class="{ 'purchase-inverse': (myConfirm == 0), 'purchase-inverse-inverse': (myConfirm == 1) }"
    v-on:click="toggle()">
    <img v-bind:src="'/images/icons/'+ image"> <span>{{ text }}</span>
    </a>
    <a class="remove" target="_blank" :href="remove">
    <img src="/images/icons/Delete_Item_from_Purchase.png" /> <span>Remove from Cart</span></a>
  </div>
</template>

<style lang="scss" scoped>
.add {
display: grid;
    margin-left: 10%;
  a{
    padding:0;
    margin-top: 5px;
    color: #fff;
    font-size: 12px;
    float: right;
    cursor:pointer
  }
  a:hover{
  text-decoration: none;
  }
  a.purchase-inverse {
    background: #DFF2F6;
    span{
    color: #33BCAE;
    }
  }
    a.purchase-inverse-inverse {
    background: #33BCAE;
    span{
    color: #fff;
    }
  }
  a.remove {
    background: #FCE5F0;
    color:#EE4089;
  }
  p{
    padding:0;
    color: #fff !important;
    font-size: 14px !important;
    float: right;
    background: #05B4CB;
    span{
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;
    }
  }
}
</style>


<script>
import axios from "axios";

export default {
  props: ["confirmed", "action","upcoming","remove","price"],
  data: function() {
    return {
      myConfirm: 0,
      processing: 0,
      Upcoming:"",
      image: "",
      text:""
    };
  },
  mounted() {
    this.myConfirm = this.confirmed;
    this.Upcoming = 
      this.upcoming == 1 ? "yes" : "no";
    this.image =
      this.myConfirm == 1 ? "Icon_-_Remove_-_150px.png" : "Icon_-_Add_-_150px.png";
    this.text =
      this.myConfirm == 1 ? "Added" : "Add to purchase";
  },
  methods: {
    toggle() {
      console.log(this.action);
      this.processing = 1;
      axios
        .get(this.action)
        .then(response => {
          if (this.myConfirm == 1) {
            this.myConfirm = 0;
            this.text = "Add to purchase";
            this.image = "Icon_-_Add_-_150px.png";
          } else {
            this.myConfirm = 1;
            this.text = "Added";
            this.image = "Icon_-_Remove_-_150px.png";
          }
          this.processing = 0;
        })
        .catch(error => {
          this.processing = 0;
        });
    }
  }
};
</script>