<template>
<div class="purchase-item">
<table class="table table-borderless">
    <tr>
        <td class="image">
              <img v-bind:src="image" alt="Course" class="preview-img"/>
        </td>
        <td class="title">
            <div class="course-title">
              <span>{{ title }}</span>
            </div>
        </td>
        <td class="icons">
          <div class="action">
            <a class="continue">Ksh. {{ price }}</a>
          </div>
        </td>
        <td class="icons">
          <div class="action">
            <a class="continue">1</a>
          </div>
        </td>
        <td class="icons text-right">
            <a class="remove" target="_blank" :href="remove">
            <img src="/images/icons/Delete_Item_from_Purchase.png" />
            </a>
        </td>
    </tr>
</table>
</div>
</template>

<style lang="scss" scoped>
.purchase-item{
  margin: 0 8%;
  .table{
  border-bottom: 1px solid #ccc;
  .image {
      width: 10%;
  }
  .title{
      width:25%;
  }
  .icons{
    width: 11%;
    text-align: center;
    color: #23245F;
  } 
  .course-title span {
    font-size: 18px;
    float: left;
    text-align: left;
    color: #23245F;
    font-weight: bold;
  }
}
}

</style>


<script>
import CourseAction from "./CourseAction.vue";

export default {
  components: {
    CourseAction
  },
  data: function() {
    return {};
  },
  props: ["title", "image", "price"]
};
</script>
