<template>
<div>
<section class="about about-individual" v-bind:class="{ active: isActive('individual'),hidden: !isActive('individual') }">
        <button type="button" class="btn btn-toggle btn-right"
          data-target="corporate"
          @click="toggle('corporate')"
          v-bind:class="{ active: !isActive('corporate'),hidden: isActive('corporate') }"
          ><span>For Corporates <i class="fa fa-long-arrow-right"></i></span></button>
<div class="bg-overlay">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">

            <div class="header-section">
            <h1>Who is Erevuka for?</h1>
            <h3>Individuals looking to improve their skills</h3>
            </div>

            <div class="body-section">
                <p>At Erevuka our mission is to provide high quality, affordable career based training to assist you in advancing your career. Erevuka has joined with industry leading professionals, lecturers and trainers to develop world class online training courses that will enable you to achieve your career ambitions. We welcome you to view the courses page and see what courses would help you gain new skills.</p>
            </div>
        </div>
        <div class="col-md-12">

                <div class="row justify-content-center scrollable">
                    <div class="col-md-2 col-sm-4" v-for="(list, index) in lists" :key="index">
                        <div class="card list-individual">
                            <h1 class="card-title"><img v-bind:src="'/images/icons/'+ list.image" class="icon-image" alt="corporates"></h1>
                            <p class="card-title text-white">{{list.title}}</p>
                        </div>
                    </div>
                </div>

            <div class="body-section">
                <div class="call-to-action">
                    <a href="/courses" class="btn btn-overall purple"><span>Kickstart your learning journey<i class="fas fa-long-arrow-alt-right"></i></span></a>
                  </div>
            </div>

        </div>
    </div>
</div>
</div>
</section>
<section class="about about-corporate" v-bind:class="{ active: isActive('corporate'),hidden: !isActive('corporate') }">
        <button type="button" class="btn btn-toggle btn-left"
          data-target="individual"
          @click="toggle('individual')"
          v-bind:class="{ active: !isActive('individual'),hidden: isActive('individual') }"><span><i class="fa fa-long-arrow-left"></i> For Individuals</span></button>
<div class="bg-overlay">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <div class="header-section">
            <h3 class="text-white">Companies Looking to Train Staff / Partners</h3>
            </div>

            <div class="body-section">
                <p class="text-white">Erevuka makes it easy to deliver training courses and evaluate performance through reports and analytics at the touch of a button. Subscribe to Erevuka and unlock an interactive training experience that allows your team to learn with colleagues and other professionals taking similar training courses to them.  See more benefits below:- </p>
            </div>
            <div class="divider div-transparent div-dot"></div>
            </div>
        <div class="col-md-12">
                <div class="row justify-content-center">
                <div class="col-md-12" v-for="(item, index) in items" :key="index">
                 <p v-bind:class="{ visible: isVisible(item.id),hidden: !isVisible(item.id) }">{{item.description}}</p>
                </div></div>
                <div class="row justify-content-center scrollable">
                    <div class="col-md-2 col-sm-4" v-for="(item, index) in items" :key="index">
                        <div
                        v-bind:class="{ standout: isVisible(item.id),basic: !isVisible(item.id) }"
                         @click="item.method(item.id)">
                        <div class="card">
                            <h1 class="card-title"><img v-bind:src="'/images/icons/'+ item.image" class="icon-image"></h1>
                            <p class="card-title">{{item.title}}</p>
                        </div><i class="fas fa-caret-up"></i></div>
                    </div>
                </div>

            <div class="body-section">
                <div class="call-to-action">
                    <a href="/contact" class="btn btn-overall white"><span>Schedule a demo <i class="fa fa-long-arrow-right"></i></span></a>
                </div>
            </div>

        </div>
    </div>
</div>
</div></section>

  </div>
</template>

<style lang="scss" scoped>
.hidden{
  display: none;
  opacity: 0;
}
.active, p.visible{
  display: block;
  opacity: 1;
}
p.visible{
  color: #fff;
  font-size: large;
  height: 4em;
}
.about-individual {
  padding: 2% 0;
}
p.card-title {
    height: 75px;
    font-size: 14px;
    padding: 10px;
}
.about-corporate{
  padding: 0.3% 0;
}
  div.body-section{
  h1{
  color: #fff;
  }
}
.list-individual{
background: #23245f 0% 0% no-repeat padding-box;
border: none;
}
.card{
  cursor: pointer
}
.standout .card{
    box-shadow: 10px 16px 6px #0000004D;
    margin-top: -5%;
    width: 120%;
    height: 120%;
    margin-left: -10%;
  }
 .basic i{
 display: none;
 }
 .standout i{
 display: block;
    color: #fff;
    font-size: 30px;
 }
 img.icon-image {
    padding-top: 10%;
    object-fit: contain;
}
.divider {
    position: relative;
    margin-bottom: 5%;
    height: 1px;
}
.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, white, transparent);
}.div-dot:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -4px;
    width: 9px;
    height: 9px;
    background-color: #23245F;
    border: 1px solid white;
    border-radius: 50%;
}
@media (max-width: 800px) {

.about-individual {
  padding: 4% 0;
}
.about-corporate{
  padding: 4% 0;
}
.scrollable{
  flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto;
        -webkit-box-pack: end !important;
    justify-content: end !important;
}
.standout {
    width: fit-content;
    .card{
    width: 160 !important;
    margin-left: 0;
    }
}
  .col-md-2{
     margin:5%;
  }
  .about .card {
    width: 185px;
}
p.visible{
  font-size: inherit;
  height: 5.5em;
}
}

@media (max-width: 600px) {
.about-individual {
  padding: 20% 0;
}
  .col-md-2{
     margin:4% 2%;
  }
.about-corporate{
  padding: 20% 0;

  .btn.btn-toggle {
    top: 2%;
  }
}
}
</style>

<script>
export default {
  data() {
    return {
      active: "individual",
      visible: "description-1",
      items: [
      {
        id: 1,
        image: 'profile.png',
        title: 'Standardise Training',
        method : this.buttonOne,
        description: 'Standardise the quality of the training you deliver to staff across all branches and locations',
      },
      {
        id: 2,
        image: 'engagement.png',
        title: 'Boost learner collaboration',
        method : this.buttonTwo,
        description: 'Have staff collaborate on discussion forums and training communities',
      },
      {
        id: 3,
        image: 'think.png',
        title: 'Boost Engagement and retention',
        method : this.buttonThree,
        description: 'Boost learner retention by offering interactive learning courses. Manage leaner assessment efficiently.Provide an interactive training experience',
      },
      {
        id: 4,
        image: 'security-01.png',
        title: 'Secure Robust Platform',
        method : this.buttonFour,
        description: 'Secure robust platform on high performance cloud servers',
      },
      {
        id: 5,
        image: 'Icons_-_Certificate_-_blue.png',
        title: 'Certificate of Completion',
        method : this.buttonFive,
        description: 'Award learners a certificate of completion upon course completion',
      }
      ],
      lists: [
      {
        id: 1,
        image: 'connect-white.png',
        title: 'Learn at your convenience',
      },
      {
        id: 2,
        image: 'Professional.png',
        title: 'Add professional skills',
      },
      {
        id: 3,
        image: 'engagement-white.png',
        title: 'Collaborate with other professionals',
      },
      {
        id: 4,
        image: 'Icons_-_Certificate_-_white.png',
        title: 'Earn a certificate of completion',
      },
      {
        id: 5,
        image: 'Icons_-_LinkedIn_-_white.png',
        title: 'Share your progress on LinkedIn',
      }
      ],
    };
  },
  methods: {
    toggle(target) {
      this.active = target;
    },
    isActive(target) {
      return this.active == target;
    },
    isVisible(data) {
      return this.visible == 'description-'+data;
    },
    buttonOne(data) {
      this.visible = 'description-'+data;
    },
    buttonTwo(data) {
      this.visible = 'description-'+data;
    },
    buttonThree(data) {
      this.visible = 'description-'+data;
    },
    buttonFour(data) {
      this.visible = 'description-'+data;
    },
    buttonFive(data) {
      this.visible = 'description-'+data;
    },
  }
};
</script>
